<!DOCTYPE html>
<html>
<head>
	<title>US Map Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body class="recom">
	<main>
		<section class="container-fluid final-1">
			<div class="row justify-content-end">
				<div class="col-1">
					<img src="images/Cancel.png" alt="">
				</div>
				<div class="col-12">
					<p>Save + Share your 740i Sedan</p>
		            <p>—</p>
		            <p>Copy your Build Code below. If you want to access this build in the future,<br> you'll Ineed this code to see your vehicle.</p>
				</div>
				<div class="col-12">
					<span>dho7ruzr</span>
					<button>Send to your phone</button>
				</div>
				<div class="col-6 email-l">
					<p><img src="images/Email.png" alt="">Email</p>
				</div>
				<div class="col-6">
					<p><img src="images/copy.png" alt="">Copy Link</p>
				</div>
			</div>
		</section>
		<section class="container final-2">
			<div class="row">
				<div class="col-5">
					<div class="row justify-content-center">
						<div class="col-8">
							<img src="images/Black_BMW_M5_2013_Car_PNG_Clipart-101.png" alt="" class="img-fluid">
							<p style="margin-bottom: 0;"><b>Vehicle detail</b></p>
							<img class="line" src="images/substract.svg" alt="">
							<p>740i Sedan</p>
							<p>3.0-liter BMW TwinPower Turbo<br>inline 6-cylinder Rear-wheel drive</p>
						</div>
						<div class="col-10">
							<div class="row">
								<div class="col-10"><b>Base MSRP</b></div>
								<div class="col-2"><p>$83,100</p></div>
							</div>
							<div class="row">
								<div class="col-10"><b>Color</b></div>
								<div class="col-2"><p>$1,950</p></div>
								<div class="col-12"><p>Azurite Black Metallic</p></div>
							</div>
							<div class="row">
								<div class="col-12"><b>Wheels</b></div>
								<div class="col-12"><p>18" Light alloy V-Spoke wheels with<br>all-season run-flat tires</p></div>
							</div>
							<div class="row">
								<div class="col-12"><b>Upholstety</b></div>
								<div class="col-12"><p>Black Dakota Leather</p></div>
							</div>
							<div class="row">
								<div class="col-12"><b>Trim</b></div>
								<div class="col-12"><p>Fine line high gloss wood trim</p></div>
							</div>
							<div class="row">
								<div class="col-10"><b>Destination + Handling</b></div>
								<div class="col-2"><b>$955</b></div>
							</div>
							<div class="row">
								<div class="col-10">
									<b>TOTAL MSRP as Built</b>
								</div>
								<div class="col-2">
									<b>$87,745</b>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-1">
					<div class="row justify-content-center">
						<div class="col-8">
							<img src="images/add.svg" alt="" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="col-5">
					<div class="row justify-content-center">
						<div class="col-8">
							<br><br>
							<p style="margin-bottom: 0;"><b>BWM Care detail</b></p>
							<img class="line" src="images/substract.svg" alt="">
						</div>
						<div class="col-10">
							<div class="row">
								<div class="col-10"><p>Tire&wheel protection</p></div>
								<div class="col-2"><p>$16/month</p></div>
								<div class="col-12">
									<p>Protect them from road hazards seen<br>and unseen such as potholes<br>and debris.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-10"><p>Paintless dent repair</p></div>
								<div class="col-2"><p>$20/month</p></div>
								<div class="col-12">
									<p>permanently removes door dings and<br>minor dents without harming your<br> vehicle's factory finish.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-10"><b>Ancillary Products</b></div>
								<div class="col-2"><b>$36/month</b></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-2 d-flex justify-content-center align-items-center">
					<p><img src="images/share.png" alt="">Save + Share</p>
				</div>
				<div class="col-10">
					<p>$83,136<br><span>MSRP as Built</span></p>
				</div>
			</div>
		</div>
	</footer>
	 <script src="us-map-1.0.1/lib/raphael.js"></script>
	<!-- <script src="scale.raphael.js"></script> -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
	<script src="us-map-1.0.1/example/color.jquery.js"></script>
	<script src="us-map-1.0.1/jquery.usmap.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>