<!DOCTYPE html>
<html>
<head>
	<title>US Map Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body class="recom">
	<main>
		<section class="container-fluid final-1">
			<div class="row justify-content-end">
				<div class="col-1">
					<img src="images/Cancel.png" alt="">
				</div>
				<div class="col-12">
					<p>Save + Share your recommendations</p>
		            <p>—</p>
		            <p>Copy your Build Code below. If you want to access this build in the future,<br> you will need this code to your personalized protection products.</p>
				</div>
				<div class="col-12">
					<span>dho7ruzr</span>
					<button>Send to your phone</button>
				</div>
				<div class="col-6 email-l">
					<p><img src="images/Email.png" alt="">Email</p>
				</div>
				<div class="col-6">
					<p><img src="images/copy.png" alt="">Copy Link</p>
				</div>
			</div>
		</section>
	</main>
	 <script src="us-map-1.0.1/lib/raphael.js"></script>
	<!-- <script src="scale.raphael.js"></script> -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
	<script src="us-map-1.0.1/example/color.jquery.js"></script>
	<script src="us-map-1.0.1/jquery.usmap.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>