<!DOCTYPE html>
<html>
<head>
	<title>US Map Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body class="recom">
	<header>
		<ul class="nav nav-pills nav-justified">
			<li class="nav-item">
			    <a class="nav-link" href="#!"><img src="images/cancel.svg" alt=""></a>
			</li>
			<li class="nav-item">
			    <a class="nav-link bold" href="#!">740i xDrive Sedan</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link bold" href="#!">Color</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#!">Wheels</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#!">Upholstery</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#!">Trims</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#!">Packages</a>
			</li>
			<li class="nav-item active">
			    <a class="nav-link" href="#!">BMW Care</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#!">Summary</a>
			</li>
		</ul>
	</header>
	<main>
		<div class="container-fluid sec-1">
			<div class="row justify-content-center">
				<div class="col-6" id="alert">
					<h1>Welcome to BMW Care.</h1>
                    <p>Select your state below: <b class="location"></b></p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-7">
					<div id="map"></div>
				</div>
				<div class="col-8">
					<button class="next" id="n-1">Next</button>
				</div>
			</div>
		</div>
		<div class="container-fluid sec-2 display-n">
			<div class="row justify-content-center">
				<div class="col-6 heading">
					<p>How would you</p>
					<p>describe your driving style</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-7">
					 <input type="range" min="0" max="100" value="10" id="driving_style"/>
				</div>
				<div class="col-8">
					<div class="row">
						<div class="col-4">
							<p>Conservative</p>
						</div>
						<div class="col-4">
							<p>Spirited</p>
						</div>
						<div class="col-4">
							<p>Aggressive</p>
						</div>
					</div>
				</div>
				<div class="col-8">
					<button class="next" id="n-2">Next</button>
				</div>
			</div>
		</div>
		<div class="container-fluid sec-3 display-n">
			<div class="row justify-content-center">
				<div class="col-6 heading">
					<p>How many hours</p>
					<p>do you usually drive per week</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-6">
                    <form id="FormHours">
					<div class="row">
						<div class="col-4">
							<input type="radio" name="hours" value="1">
							<p>>6<br>hours</p>
						</div>
						<div class="col-4">
							<input type="radio" name="hours" value="2" checked="checked">
							<p>7-15<br>hours</p>
						</div>
						<div class="col-4">
							<input type="radio" name="hours" value="3">
							<p>16+<br>hours</p>
						</div>
					</div>
                    </form>
				</div>
				<div class="col-8">
					<button class="next" id="n-3">Next</button>
				</div>
			</div>
		</div>
		<div class="container-fluid sec-4 display-n">
			<div class="row justify-content-center">
				<div class="col-6 heading">
					<p>What kind of parking do you use?</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-6">
                    <form id="FormParking">
					<div class="row align-items-end">
						<div class="col-4">
							<input type="radio" name="parking" value="1">
							<img class="svg" id="park_1" src="images/public_parking_lot.png" alt="">
							<p>Public Parking Lot</p>
					</div>
						<div class="col-4">
							<input type="radio" name="parking" value="2">
							<img class="svg" id="park_2" src="images/Parkin_building.png" alt="">
							<p>Parking Building</p>
						</div>
						<div class="col-4">
							<input type="radio" name="parking" value="3">
							<img class="svg" id="park_3" src="images/Private_parking.png" alt="">
							<p>Private Garage</p>
						</div>
					</div>
                    </form>
				</div>
				<div class="col-8">
					<button class="next" id="n-4">Next</button>
				</div>
			</div>
		</div> 
		<div class="container-fluid sec-5 display-n">
			<div class="row justify-content-center">
				<div class="col-6 heading">
					<p>How do you use your car?</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-8">
                    <form id="FormUsage">
					<div class="row justify-content-center align-items-end">
						<div class="col-2">
							<input type="radio" name="car" value="1">
							<img class="img-f" id="car-1" src="images/traveling.png" alt="">
							<p>Traveling</p>
						</div>
						<div class="col-2">
							<input type="radio" name="car" value="2">
							<img class="img-f" id="car-2" src="images/working.png" alt="">
							<p>Working</p>
						</div>
						<div class="col-2">
							<input type="radio" name="car" value="3">
							<img class="img-f" id="car-3" src="images/commuting.png" alt="">
							<p>Commuting</p>
						</div>
						<div class="col-2">
							<input type="radio" name="car" value="4">
							<img class="img-f" id="car-4" src="images/racing.png" alt="">
							<p>Racing</p>
						</div>
						<div class="col-2">
							<input type="radio" name="car" value="5">
							<img class="img-f" id="car-5" src="images/leisure.png" alt="">
							<p>Leisure</p>
						</div>
					</div>
                    </form>
				</div>
				<div class="col-8">
					<button class="next" id="n-5">Next</button>
				</div>
			</div>
		</div>
	</main>
	 <script src="us-map-1.0.1/lib/raphael.js"></script>
	<!-- <script src="scale.raphael.js"></script> -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
	<script src="us-map-1.0.1/example/color.jquery.js"></script>
	<script src="us-map-1.0.1/jquery.usmap.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>